<h2>{{{i18n.__ "Login"}}}</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="username">{{{i18n.__ "Username"}}}</label>
  <input id="username" type="text" name="username" placeholder="{{{i18n.__ "User name"}}}">


  <label for="password">{{{i18n.__ "Password"}}}</label>
  <input id="password" type="password" name="password" placeholder="{{{i18n.__ "Your password"}}}">

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button class="btn btn-primary">{{{i18n.__ "Log in"}}}</button>

  <p class="account-message">
    {{{i18n.__ "Don't have an account yet?"}}}
    <a href="/auth/signup" class="btn btn-primary">{{{i18n.__ "Signup"}}}</a>
  </p>
</form>

