<a href="/private/animals" class="btn btn-primary">{{{i18n.__ "My pets"}}}</a>

<a href="/private/posts" class="btn btn-primary">{{{i18n.__ "My posts"}}}</a>

<p> Hello, {{ user.username }}. </p>

<a href="/auth/settings" class="btn btn-primary">{{{i18n.__ "Settings"}}}</a>
<a href="/auth/logout" class="btn btn-primary">{{{i18n.__ "Log out"}}}</a>