<a href="/private/animals">{{{i18n.__ "My pets"}}}</a>

<a href="/private/posts">{{{i18n.__ "My posts"}}}</a>

<p> Hello, {{ user.username }}. </p>

<a href="/auth/settings">{{{i18n.__ "Settings"}}}</a>
<a href="/auth/logout">{{{i18n.__ "Log out"}}}</a>