<div class="container newWrapper listWrapper">
  <h2>{{{i18n.__ "Change your details"}}}</h2>

  <div class="formWrapper">
    <form action="/auth/settings" method="POST" id="form-container" enctype="multipart/form-data">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="password">{{{i18n.__ "Old password"}}}</label>
          <input id="oldPassword" type="password" name="oldPassword" placeholder="{{{i18n.__ " Type the old password "}}}">
        </div>

        <div class="form-group col-md-6">
          <label for="password">{{{i18n.__ "New password"}}}</label>
          <input id="newPassword" type="password" name="newPassword" placeholder="{{{i18n.__ " Type the new password "}}}">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="profilePic">{{{i18n.__ "Profile picture"}}}</label>
          <input type="file" class="form-control-file" id="profilePic" name="profilePic">
        </div>
      </div>

      {{#if message }}
      <div class="error-message">
        {{ message }}
      </div>
      {{/if}}

      <div class="form-row buttonWrapper">
        <div class="form-group col-md-12">
          <button class="btn btn-primary">{{{i18n.__ "Change details"}}}</button>
        </div>
      </div>

    </form>
  </div>
</div>