<h2>{{{i18n.__ "Change your details"}}}</h2>

<form action="/auth/settings" method="POST" id="form-container" enctype="multipart/form-data">
  <label for="email">{{{i18n.__ "Email address"}}}</label>  
  <input id="email" type="text" name="email" placeholder="{{{i18n.__ "Email address"}}}">

  <label for="password">{{{i18n.__ "Old password"}}}</label>
  <input id="oldPassword" type="password" name="oldPassword" placeholder="{{{i18n.__ "Type the old password"}}}">

  <label for="password">{{{i18n.__ "New password"}}}</label>
  <input id="newPassword" type="password" name="newPassword" placeholder="{{{i18n.__ "Type the new password"}}}">

  <label for="profilePic">{{{i18n.__ "Profile picture"}}}</label>  
  <input type="file" class="form-control-file" id="profilePic" name="profilePic">


  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <button class="btn btn-primary">{{{i18n.__ "Change details"}}}</button>

</form>