<p>{{post.userId.username}}</p>
<p>{{post.animalId.name}}</p>



<p>{{post.description}}</p>
<p>{{post.animal.state}}</p>
<p>{{post.date}}</p>
<p>{{post.location}}</p>
<p>{{post.reward}}</p>

{{#each comments}}
<p>
  {{this.userId.username}}
</p>
<p>
  {{this.comment}}
</p>
<a href="/comment/delete/{{this._id}}">Borrar comentario</a>
<a href="/comment/edit/{{this._id}}">Editar comentario</a>


{{/each}}


<a href="/comment/new/{{post._id}}">Nuevo comentario</a>
