<p>User: {{this.userId.username}}</p>
<p>Animal: {{this.animalId.name}}</p>



<p>Description: {{this.description}}</p>
<p>State: {{this.animal.state}}</p>
<p>Lost date: {{this.date}}</p>
<p>Location: {{this.location}}</p>
<p>Reward: {{this.reward}}</p>