<div class="container listWrapper">
    <h2>{{{i18n.__ "Posts"}}}</h2>
    
    {{#each posts}}
    <div class="row">
        <div class="animalWrapper">
            <p>{{{../i18n.__ "Name"}}}: {{this.animalId.name}}</p>
            <p>{{{../i18n.__ "Owner"}}}: {{this.userId.username}}</p>
            <p>{{{../i18n.__ "Description"}}}: {{this.description}}</p>
            <p>{{{../i18n.__ "State"}}}: {{animalId.state}}</p>
            <a href="/post/detail/{{this.id}}" class="btn btn-primary">{{{../i18n.__ "Detail"}}}</a>
            {{#if_equal this.userId._id ../user._id}}
            <a href="/private/posts/editPost/{{this.id}}" class="btn btn-primary">{{{../i18n.__ "Edit"}}}</a>
            {{/if_equal}}
        </div>
        <div class="images">
            <img src="{{this.animalId.profilePic}}" alt="{{this.animalId.name}}">
        </div>
    </div>
    {{/each}}
</div>