<div class="container listWrapper">
    <h2>{{{i18n.__ "Posts"}}}</h2>

    <div class="cardWrapper">
      {{#each posts}}

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{this.animalId.profilePic}}" alt="{{this.animalId.name}}">
        <div class="card-body">
          <h5 class="card-title">{{{../i18n.__ "Name"}}}: {{this.animalId.name}}</h5>
          <h5 class="card-title">{{{../i18n.__ "State"}}}: {{animalId.state}}</h5>
          <h5 class="card-text">{{this.description}}</h5>
          <a href="/post/detail/{{this.id}}" class="btn btn-primary">{{{../i18n.__ "Detail"}}}</a>
          {{#if_equal this.userId._id ../user._id}}
          <a href="/private/posts/editPost/{{this.id}}" class="btn btn-primary">{{{../i18n.__ "Edit"}}}</a>
          {{/if_equal}}
        </div>
      </div>
      {{/each}}
    </div>
</div>
