<div class="container listWrapper">
    <h2>Posts</h2>
    
    {{#each posts}}
    <div class="row">
        <div class="animalWrapper">
            <p>Name: {{this.animalId.name}}</p>
            <p>Owner: {{this.userId.username}}</p>
            <p>Description: {{this.description}}</p>
            <p>State: {{animalId.state}}</p>
            <a href="/post/detail/{{this.id}}">Detail</a>
            {{#if_equal this.userId._id ../user._id}}
            <a href="/private/posts/editPost/{{this.id}}">Edit</a>
            {{/if_equal}}
        </div>
        <div class="images">
            <img src="/uploads/animals/{{this.animalId.profilePic}}" alt="{{this.animalId.name}}">
        </div>
    </div>
    {{/each}}
</div>