<div class="container newWrapper listWrapper">
  <h2>{{{i18n.__ "New post"}}}</h2>

  {{#unless noAnimals}}
  <form action="/post/new" method="POST" id="form-container">
    <div class="formWrapper">

      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="animal">{{{i18n.__ "Choose your pet"}}}</label>
          <select name="animal" class="btn btn-primary">
            <option value="" selected>{{{i18n.__ "Pet"}}}</option>
            {{#each animals}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="reward">{{{i18n.__ "Reward"}}}</label>
          <input type="text" id="reward" name="reward">
        </div>

        <div class="form-group col-md-4">
          <label for="date">{{{i18n.__ "When did you lose it"}}}</label>
          <input id="date" type="date" name="date" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-9">
          <label for="description">{{{i18n.__ "Description"}}}</label>
          <textarea name="description" class="form-control"></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="location">{{{i18n.__ "Location"}}}</label>
          <input id="geocomplete" type="text" name="literal" placeholder="Type an address" />
          <input id="find" type="button" value="{{{i18n.__ "Search"}}}" class="btn btn-primary"/>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <div id="post-location" class="new"></div>
          <input type="hidden" id="latitude" name="lat">
          <input type="hidden" id="longitude" name="lng">
        </div>
      </div>

      <div class="form-row buttonWrapper">
        <div class="form-group col-md-12">
          <button class="btn btn-primary">{{{i18n.__ "Post"}}}</button>
        </div>
      </div>

  </form>

  {{/unless}} 
  {{#if noAnimals}}

  <p>
    {{noAnimals}}
    <p>{{{i18n.__ "You haven't got any pets yet, create a new pet to post"}}}</p>
    <a href="/animal/new" class="btn btn-primary">{{{i18n.__ "New pet"}}}</a>
  </p>

  {{/if}}
  </div>

</div>