<div class="container listWrapper">
    <div class="row rowCenter">

        <div class="col-md-6">

            <p><span class="black">{{{i18n.__ "Owner"}}}: </span>{{animal.userId.username}}</p>
            <p><span class="black">{{{i18n.__ "Name"}}}: </span>{{animal.name}}</p>
            <p><span class="black">{{{i18n.__ "Breed"}}}: </span>{{animal.breed}}</p>
            <p><span class="black">{{{i18n.__ "Color"}}}: </span>{{animal.color}}</p>
            <p><span class="black">{{{i18n.__ "Gender"}}}: </span>{{animal.gender}}</p>
            <p><span class="black">{{{i18n.__ "Chip"}}}: </span>{{animal.chip}}</p>
            <p><span class="black">{{{i18n.__ "Description"}}}: </span>{{animal.description}}</p>
            <p><span class="black">{{{i18n.__ "State"}}}: </span> <span class="red">{{animal.state}}</span></p>
        </div>

        <div class="images col-md-6">
            <img src="{{animal.profilePic}}" alt="{{animal.name}}">
        </div>
    </div>

</div>