<p>Owner: {{this.userId.username}}</p>
<p>Animal: {{this.name}}</p>
<p>Breed: {{this.breed}}</p>
<p>Color: {{this.color}}</p>
<p>Gender: {{this.gender}}</p>
<p>Chip: {{this.chip}}</p>
<p>Description: {{this.description}}</p>
<p>State: {{this.state}}</p>

<img src="{{profilePic}}" alt="{{this.name}}">