<div class="container listWrapper">
    <h2>Animals</h2>

    {{#each animals}}
    <div class="row">
        <div class="animalWrapper">
            <p>Name: {{this.name}}</p>
            <p>Owner: {{this.userId.username}}</p>
            <p>Description: {{this.description}}</p>
            <p>State: {{this.state}}</p>
            <a href="/animal/detail/{{this.id}}">Detail</a>
        </div>
            <div class="images">
                <img src="{{profilePic}}" alt="{{this.name}}">
            </div>
    </div>
    {{/each}}
</div>