<div class="container listWrapper">
    <h2>{{{i18n.__ "Pet"}}}</h2>

    {{#each animals}}
    <div class="row">
        <div class="animalWrapper">
            <p>{{{../i18n.__ "Pet"}}}: {{this.name}}</p>
            <p>{{{../i18n.__ "Owner"}}}: {{this.userId.username}}</p>
            <p>{{{../i18n.__ "Description"}}}: {{this.description}}</p>
            <p>{{{../i18n.__ "State"}}}: {{this.state}}</p>
            <a href="/animal/detail/{{this.id}}" class="btn btn-primary">{{{../i18n.__ "Detail"}}}</a>
        </div>
            <div class="images">
                <img src="{{profilePic}}" alt="{{this.name}}">
            </div>
    </div>
    {{/each}}
</div>

