<div class="container listWrapper">
    <h2>{{{i18n.__ "Pet"}}}</h2>

    <div class="cardWrapper">

      {{#each animals}}

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{profilePic}}" alt="{{this.name}}">
        <div class="card-body">
          <h5 class="card-title">{{{../i18n.__ "Pet"}}}: {{this.name}}</h5>
          <h5 class="card-title">{{{../i18n.__ "Owner"}}}: {{this.userId.username}}</h5>
          <p class="card-text">{{{../i18n.__ "Description"}}}: {{this.description}}</p>
          <a href="/animal/detail/{{this.id}}" class="btn btn-primary">{{{../i18n.__ "Detail"}}}</a>
          {{#if_equal this.userId._id ../user._id}}
          <a href="/private/posts/editAnimal/{{this.id}}" class="btn btn-primary">{{{../i18n.__ "Edit"}}}</a>
          {{/if_equal}}
        </div>
      </div>
      {{/each}}
    </div>
</div>
