<div class="container newWrapper listWrapper">
    <h2>{{{i18n.__ "New pet"}}}</h2>

    <div class="formWrapper">
        <form action="/animal/new" method="POST" enctype="multipart/form-data">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="species">{{{i18n.__ "Species"}}}</label>
                    <select name="species" required class="btn btn-primary">
                        <option value="" selected>{{{i18n.__ "Species"}}}</option>
                        <option value="Dog">{{{i18n.__ "Dog"}}}</option>
                        <option value="Cat">{{{i18n.__ "Cat"}}}</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="breed">{{{i18n.__ "Breed"}}}</label>
                    <input name="breed" class="form-control"></input>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="name">{{{i18n.__ "Name"}}}</label>
                    <input name="name" class="form-control" required></input>
                </div>

                <div class="form-group col-md-3">
                    <label for="color">{{{i18n.__ "Color"}}}</label>
                    <input name="color" class="form-control" required></input>
                </div>

                <div class="form-group col-md-3">
                    <label for="gender">{{{i18n.__ "Gender"}}}</label>
                    <input name="gender" class="form-control"></input>
                </div>

                <div class="form-group col-md-3">
                    <label for="chip">{{{i18n.__ "Chip"}}}</label>
                    <input name="chip" class="form-control"></input>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="description">{{{i18n.__ "Description"}}}</label>
                    <textarea name="description" class="form-control" required></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="profilePic">{{{i18n.__ "Upload a picture"}}}</label>
                    <input type="file" class="form-control-file" id="profilePic" name="profilePic" required>
                </div>
            </div>

            {{#if message }}
            <div class="error-message">
                {{ message }}
            </div>
            {{/if}}

            <div class="form-row buttonWrapper">
                <div class="form-group col-md-12">
                    <button class="btn btn-primary">{{{i18n.__ "New pet"}}}</button>
                </div>
            </div>

        </form>
    </div>
</div>
