<section>
    <div class="pictureSection">

    </div>
</section>



<section>
    <div class="bulletsSectionWrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 textCenter">
                    <span class="span-icon">
                        <i class="fas fa-map-marker-alt circulo"></i>
                    </span>
                    <h2>{{{i18n.__ "We can find it"}}}</h2>
                    <p>{{{i18n.__ "Tell the community about your lost pet"}}}</p>
                </div>
                <div class="col-sm-4 textCenter">
                    <span class="span-icon">
                        <i class="far fa-comments circulo"></i>
                    </span>
                    <h2>{{{i18n.__ "Follow up"}}}</h2>
                    <p>{{{i18n.__ "When your pet is found, remember to take down any notices you've posted online and around your neighborhood."}}}</p>
                </div>
                <div class="col-sm-4 textCenter">
                    <span class="span-icon">
                        <i class="fas fa-heart circulo"></i>
                    </span>
                    <h2>{{{i18n.__ "About"}}}</h2>
                    <p>{{{i18n.__ "Finder pet is a free website that helps people to find their lost pets"}}}</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="pictureSection2">

    </div>
</section>