<section>
    <div class="pictureSection">

    </div>
</section>



<section>
    <div class="bulletsSectionWrapper">
        <div class="container">
            <div class="row whitening">
                <div class="col-sm-4 flex-red">
                    <span class="span-icon ">
                        <i class="fas fa-glass-martini circulo"></i>
                    </span>
                    <h2>{{{i18n.__ "We can find it"}}}</h2>
                    <p>{{{i18n.__ "Signup"}}}</p>
                </div>
                <div class="col-sm-4 flex-red">
                    <span class="span-icon ">
                        <i class="fas fa-star circulo"></i>
                    </span>
                    <h2>{{{i18n.__ "We can find it"}}}</h2>
                    <p>{{{i18n.__ "Signup"}}}</p>
                </div>
                <div class="col-sm-4 flex-red">
                    <span class="span-icon ">
                        <i class="fas fa-heart circulo"></i>
                    </span>
                    <h2>{{{i18n.__ "We can find it"}}}</h2>
                    <p>{{{i18n.__ "Signup"}}}</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="pictureSection">

    </div>
</section>