{{#each posts}}
<h2>{{{../i18n.__ "Post"}}}: </h2>
    <p>{{{../i18n.__ "Name"}}}: {{this.animalId.name}}</p>
    <p>{{{../i18n.__ "Description"}}}: {{this.description}}</p>
    <p>{{{../i18n.__ "State"}}}: {{animalId.state}}</p>

    <a href="/private/posts/editPost/{{this.id}}" class="btn btn-primary">{{{../i18n.__ "Edit"}}}</a>

    <a href="/post/detail/{{this.id}}" class="btn btn-primary">{{{../i18n.__ "Detail"}}}</a>
    <a href="/private/posts/delete/{{this._id}}" class="btn btn-primary">{{{../i18n.__ "Delete"}}}</a>
{{/each}}