{{#each posts}}
<h2>Post</h2>
    <p>Animal: {{this.animalId.name}}</p>
    <p>Description: {{this.description}}</p>
    <p>State: {{animalId.state}}</p>

    <a href="/private/posts/editPost/{{this.id}}" class="btn btn-primary">Edit</a>

    <a href="/post/detail/{{this.id}}" class="btn btn-primary">Detail</a>
    <a href="/private/posts/delete/{{this._id}}" class="btn btn-primary">Delete</a>
{{/each}}